<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>底组件</title>
    <link rel="stylesheet/less" type="text/css" href="../less/pisen.less">
    <script src="../js/less.v2.5.3.min.js" type="text/javascript"></script>
</head>
<body>

    <footer class="pisen-footer">
        <!-- 菜单导航模块 -->
        <nav class="pisen-footer-nav">
            <a href="#">
                <i class="pisen-navicon-1 active"></i>
                <div>首页</div>
            </a>
            <a href="#">
                <i class="pisen-navicon-2"></i>
                <div>分类</div>
            </a>
            <a href="#">
                <i class="pisen-navicon-2"></i>
                <div>分类</div>
            </a>
            <a href="#">
                <i class="pisen-navicon-2"></i>
                <div>分类</div>
            </a>
        </nav>

        <!-- 购物车模块 -->
        <nav class="pisen-footer-cart pisen-cartnav-bg">
            <div class="list">
                <a href="#">
                    <i class="pisen-navicon-3"></i>
                    <div class="f12 pisen-color-6">购物车</div>
                    <i class="num">99</i>
                </a>
                <a href="#">
                    <i class="pisen-navicon-1"></i>
                    <div class="f12 pisen-color-6">模块1</div>
                </a>
            </div>
            <div class="menu">
                <a href="#" class="pisen-bg-c">
                    <span class="pisen-color-white">加入购物车</span>
                </a>
                <a href="#" class="">
                    立即购买
                </a>
            </div>
        </nav>
    </footer>
</body>
</html>