<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>表单类组件</title>
    
    <link rel="stylesheet/less" type="text/css" href="../less/pisen.less">
    <script src="../js/less.v2.5.3.min.js" type="text/javascript"></script>
    <script src="../js/index.js" type="text/javascript"></script>
</head>
<body>
    <!-- 表单类组件
    ========================================= -->
    <div class="pisen-row btm">
            ========复选、单选框========
    </div>
    <div class="pisen-row btm">
        <!-- 复选框 -->
        <label class="checkbox" for="checkbox1">

            <div>男的</div>
            <div>
                <input name="checks" id="checkbox1" type="checkbox">
                <i class="fa fa-check-circle"></i>
            </div>
        </label>
    </div>
    <div class="pisen-row btm">
        <label class="checkbox" for="checkbox2">
            <div>
                <input name="checks" id="checkbox2" type="checkbox">
                <i class="fa fa-check-circle"></i>
            </div>
            <div>男的</div>
        </label>
        <!-- <p style="display: inline-block">测试</p> -->
    </div>
    <div class="pisen-row btm">
        <label class="checkbox" for="checkbox3">
            <div>
                <input name="checks" id="checkbox3" type="checkbox">
                <i class="fa fa-check-circle"></i>
            </div>
        </label>
    </div>
    <div class="pisen-row btm">
        <label class="checkbox" >
            <div>
                <input name="checkr" id="checkbox4" type="radio">
                <i class="fa fa-check-circle"></i>
            </div>
            <div>男</div>
        </label>
        <label class="checkbox" >
            <div>
                <input name="checkr" id="checkbox4" type="radio">
                <i class="fa fa-check-circle"></i>
            </div>
            <div>女</div>
        </label>
    </div>

    <div class="pisen-row btm">
            ========下拉，上拉列表，带选择========
    </div>
    <div class="pisen-ups">点我下拉</div>
    <div class="pisen-uplist">
        <div class="title">
            <span class="cancel">取消</span>
            <span class="name">列表名称</span>
            <span class="confirm">确定</span>
        </div>
        <ul class="list">
            <li class="active">这个是数据</li>
            <li>这个是数据</li>
            <li>这个是数据</li>
            <li>这个是数据</li>
            <li>这个是数据</li>
            <li>这个是数据</li>
            <li>这个是数据</li>
            <li>这个是数据</li>
            <li>这个是数据</li>
            <li>这个是数据</li>
            <li>这个是数据</li>
            <li>这个是数据</li>
            <li>这个是数据</li>
            <li>这个是数据</li>
            <li>这个是数据</li>
            <li>这个是数据</li>
            <li>这个是数据</li>
            <li>这个是数据</li>
            <li>这个是数据</li>
            <li>这个是数据</li>
        </ul>
    </div>

    <div class="pisen-row btm">
            ========全选列表========
    </div>

    <ul></ul>


</body>
</html>