<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no"/>
    <title>头部组件</title>
    <link rel="stylesheet/less" type="text/css" href="../less/pisen.less">
    <script src="../js/less.v2.5.3.min.js" type="text/javascript"></script>
</head>
<body>
    <!-- 五列 -->
    <!-- <header class="pisen-header">
        <div class="left text">
            <a href="javascript:void(0);" id="headerBack" class="icon"></a>
            <a href="javascript:void(0);" class="text">返回</a>
        </div>
        <div class="center">
            <span>购物车</span>
        </div>
        <div class="right text">
            <a href="javascript:void(0);" class="text">搜索</a>
            <a href="javascript:void(0);" class="icon"></a>
        </div>
    </header> -->
    <!-- 不要文字 -->
    <!-- <header class="pisen-header">
        <div class="left">
            <a href="javascript:void(0);" id="headerBack" class="icon"></a>
        </div>
        <div class="center">
            <span>购物车</span>
        </div>
        <div class="right">
            <a href="javascript:void(0);" class="icon"></a>
        </div>
    </header> -->
    <!-- 不对称1 -->
    <!-- <header class="pisen-header">
        <div class="left text">
            <a href="javascript:void(0);" id="headerBack" class="icon"></a>
            <a href="javascript:void(0);" class="text">返回</a>
        </div>
        <div class="center">
            <span>购物车</span>
        </div>
        <div class="right text">
            <a href="javascript:void(0);" class="text"></a>
            <a href="javascript:void(0);" class="icon"></a>
        </div>
    </header> -->
    <!-- 不对称2 -->
    <!-- <header class="pisen-header">
        <div class="left text">
            <a href="javascript:void(0);" id="headerBack" class="icon"></a>
            <a href="javascript:void(0);" class="text"></a>
        </div>
        <div class="center">
            <span>购物车</span>
        </div>
        <div class="right text">
            <a href="javascript:void(0);" class="text">搜索</a>
            <a href="javascript:void(0);" class="icon"></a>
        </div>
    </header> -->
    <!-- 带搜索框 1 --> 
    <!-- <header class="pisen-header">
        <div class="left text">
            <a href="javascript:void(0);" id="headerBack" class="icon"></a>
            <a href="javascript:void(0);" class="text">返回</a>
        </div>
        <div class="center">
            <form action="javascript:void(0);">
                <div class="pisen-search-wrapper">
                    <input class="pisen-search-input" type="search" placeholder="请输入商品搜索" >
                    <i class="icon"></i>
                    <i class="close none"></i>
                </div>
            </form>
        </div>
        <div class="right text">
            <a href="javascript:void(0);" class="text">搜索</a>
            <a href="javascript:void(0);" class="icon"></a>
        </div>
    </header> -->
    <!-- 带搜索框 2 -->
    <!-- <header class="pisen-header">
        <div class="left">
            <a href="javascript:void(0);" id="headerBack" class="icon"></a>
        </div>
        <div class="center">
            <form action="javascript:void(0);">
                <div class="pisen-search-wrapper">
                    <input class="pisen-search-input" type="search" placeholder="请输入商品搜索" >
                    <i class="icon"></i>
                    <i class="close none"></i>
                </div>
            </form>
        </div>
        <div class="right text">
            <a href="javascript:void(0);" class="text">搜索</a>
            <a href="javascript:void(0);" class="icon"></a>
        </div>
    </header> -->
    <!-- 带搜索框 3 -->
    <!-- <header class="pisen-header">
        <div class="left">
            <a href="javascript:void(0);" id="headerBack" class="icon"></a>
        </div>
        <div class="center">
            <form action="javascript:void(0);">
                <div class="pisen-search-wrapper">
                    <input class="pisen-search-input" type="search" placeholder="请输入商品搜索" >
                    <i class="icon"></i>
                    <i class="close none"></i>
                </div>
            </form>
        </div>
        <div class="right noicon">
            <a href="javascript:void(0);" class="text">搜索</a>
        </div>
    </header> -->
    <!-- 带搜索框 4 -->
    <header class="pisen-header">
        <div class="left">
            <a href="javascript:void(0);" id="headerBack" class="icon"></a>
        </div>
        <div class="center">
            <form action="javascript:void(0);">
                <div class="pisen-search-wrapper">
                    <input class="pisen-search-input" type="search" placeholder="请输入商品搜索" >
                    <i class="icon"></i>
                    <i class="close none"></i>
                </div>
            </form>
        </div>
        <div class="right">
            <a href="javascript:void(0);" class="icon"></a>
        </div>
    </header>
    <script src="../js/index.js"></script>
</body>
</html>